*{
    margin: 0px;
}
img{
    width: 300px;
    height: 150px;
}
.container{
    display: flex;
    align-items: center;
    margin: 10px;
}
h1{
    margin: 10px;
    width: 300px;
    font-family: sans-serif;
}