@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200&display=swap');


*{ 
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --titulo: 'Montserrat', sans-serif;
}

main{
    max-width: 2000px;
    margin: auto;
}

main header{
    position: sticky;
    top: 0;
}

main header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding: 20px;
}

main header nav{
    display: none;
    height: 60px;
    background-color: black;
}

main header h1{
    font-size: 1.5em;
    transition: .3s;
    color: white;
    font-family: var(--titulo);
}

.links{
    display: none;
}

#burguer{
    font-size: 2em;
    cursor: pointer;
}

.trajetos{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    margin-left: 10px;
}

.separar::after{
    content: ' | ';
    color: white;
}

.marcadores{
    font-size: 1.5em;
    padding-bottom: 10px;
}

a{
    transition: .3s;
    text-decoration: none;
    color: black;
    padding:10px 0px;
    font-family: var(--titulo);
}

.trajetos:hover, main header h1:hover{
    color: yellow;
}

a:hover{
    color: blue;
}

main .thumb{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: rgba(211, 211, 211, 0.185);
    border: 1px solid rgba(0, 0, 0, 0.185);
    box-shadow: inset 
    3px 3px 3px rgba(0, 0, 0, 0.329);
}

main .thumb h2{
    font-size:3em ;
    font-weight: 500;
    font-family: var(--titulo);
}

main article{
    max-width: 700px;
    margin: 20px auto;
    padding: 10px;
}


main article h2{
    display: block;
    padding-bottom: 20px;
    font-size: 1.5em;
}

main aside{
    max-width: 700px;
    margin: 20px auto;
    padding: 10px;
}

aside{
    display: none;
}

.art a{
    font-size: 1em;
    
}

.art h2{
    display: block;
    margin-bottom: 10px;
    display: block;
}

p{
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 20px;
}

main footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

main footer p{
    margin: 10px;
}

main footer p a{
    color: white;
}

.return{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.return img{
    width: 60px;

}

img{
    width: 100%;
}

ul li{
    margin: 10px 20px;
}

.inputArea{
    width: 100%;
    margin: auto;
}

#cep{
    width: 90%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin: auto;
    border: 1px solid black;
}

#cep:focus{
    background-color: white;
}

#log{
    margin-left: 22px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button{
    display: block;
    margin:15px auto;
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    border: 1px solid black;
    background-color: blue;
    color: white;
    cursor: pointer;
}