*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
    padding: 20px;
    color: white;
    text-align: center;
    font-variant: small-caps;
}

main{
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.titulo{
    margin: 20px 0px;
    font-size: 2.5em;
    width: 70%;
    line-height: 1.5em;
    font-weight: bold;
    text-shadow:
    1px 1px 5px rgba(0, 0, 0, 0.418);
}

h1, h2{
    font-size: 2em;
    font-weight: 500;
    margin: 10px 0px;
}

p{
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5em;
    text-align: justify;
}

img{
    width: 100%;
    height: 20%;
}

.bloco{
    width: 400px;
    height: 400px;
    margin: 10px 10px 10px 20px;
    display: flex;
}

.bloco img{
    width: 80px;
    border-radius: 50%;
}

.bloco p{
    margin-left: 10px;
    margin-top: 17px ;
    font-weight: lighter;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

footer{
    color: white;
    background-color: black;
    padding: 10px;
    width: 95%;
    margin: auto;
}

footer p{
    text-align: center;
}


@media (max-width: 500px){
    h1, h2, .titulo{
        font-size: 1.7em; 
    }

    p{
        font-size: 1em;
    }
}

@media (min-width: 900px){
    .container{
        display: flex;
        flex-wrap: wrap;
    }

    footer{
        width: 100%;
    }
}

@media (max-width: 1278px){
    .bloco{
        display: none;
    }
}