*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
}

header{
    height: 100px;
    background-color: black;
}

article{
    padding: 10px;
    max-width: 1600px;
    border-radius: 5px;
    margin:10px auto;
    height: 500px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: .5fr .5fr;
    grid-template-areas: "b1 b2 b2"
                         "b1 b2 b2";
                   
}


#b1{
    background-color: lightgray;
    grid-area: b1;
    width: 60%;
}

#b2{
    background-color: lightgray;
    grid-area: b2;
}


footer{
    height: 100px;
    background-color: black;
}