@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    max-width: 900px;
    margin: auto;
    padding: 10px;
}

header{
    padding:20px;
}

.links{
    display: none;
    gap: 15px;
}

nav{
    margin-top: 15px;
    padding: 10px;
}

nav > a{
    margin-left: 10px;
}

.separar::after{
    content: ' | ';
    color: black;
}

a{
    text-decoration: none;
    font-size: 1.1em;
    transition: .5s;
    color: blue;
    
}

a:hover{
    color:rgb(84, 24, 196);
    text-decoration: underline;
}

a:active{
    background-color: blue ;
}

.poster > img{
    width: 100%;

}

h2{
    margin: 15px 0px;
}

p{
    margin: 20px 0px;
    text-align: justify;
    line-height: 1.5em;
}

footer{
    display: flex;
    justify-content: center;
    margin: 10 0;
}

@media (min-width: 596px){
    .poster > img{
        width: 100%;
        margin-top: -2px;
        height: 412px;
    }


    nav{
        display: none;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:20px;
    }

    .links{
        display: flex;
    }

    a{
        text-decoration: none;
        font-size: 1.1em;
        transition: .5s;
        color: blue;
        
    }
}


