@media (max-width:450px){
    #sub{
        background-image: linear-gradient(to right, #00BACA, #0199BE, #007FCA, #008AC6, #324CC3);
        width: 76%;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 15px;
        color: white;
        font-weight: bolder;
        font-size: 1.3em;
    }
}

@media (min-width:1450px){
    main{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1340px;

    }
}