@charset "UTF-8";
/*Versão Mobile First*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    background: black url('../imagens/back-phone.jpg') center center no-repeat fixed;
    background-size: cover;
}

main{
    background-color: rgba(255, 255, 255, 0.774);
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    
}

h1{
    text-align: center;
    color: white;
    text-shadow: 2px 1px 1px black;
}

img{
    display: block;
    margin: auto;
}

#fone{display: block;}
#tablet{display: none;}
#print{display: none;}
#pc{display: none;}
#tv{display: none;}