*{
    margin: 0px;
}

@font-face {
    font-family: 'default';
    src: url('fontes/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

body{
    font: normal 1.3em sans-serif;
    color: black;
    font-family: 'default', sans-serif;
    background: lightgray url('imagens/800px-Biblioteca_de_la_avaroa.jpg') no-repeat fixed;
    background-size: cover;
}

header{
    padding: 10px;
    min-height: 50px;
    background-color: white;
    width: 100%;
}

header > h1{
    font-family: 'default', sans-serif;
    font-weight: 300;
    text-align: center;
}

main{
    margin: 10px auto;
    min-width: 360px;
    max-width: 1000px;
    text-align: left;
    padding: 10px;
    background-color: white;
}

main > h1{
    margin-bottom: 10px;
}

section{
    margin-bottom: 20px;
}

.container{
    position: relative;
}
#ctt{
    position: absolute;
    top: 12px;
    left: 60px;
}

#ins{
    position: absolute;
    top: 6px;
    left: 250px ;
}

#per{
    position: absolute;
    top: 12px;
    left: 290px;
}