*{
    margin: 0px;
}

body, html{
    overflow: hidden !important;
}
@media (max-width: 786px){
    body, html{
        overflow-x: hidden !important;
    }
}
@font-face {
    font-family: 'default';
    src: url('fontes/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

body{
    font: normal 1.3em sans-serif;
    color: black;
    font-family: 'default', sans-serif;
    background: lightgray url('imagens/library-g967257a46_1920.jpg') no-repeat fixed;
    background-size: cover;
}

header{
    padding: 10px;
    min-height: 50px;
    background-color: white;
    width: 100%;
}

header > h1{
    font-family: 'default', sans-serif;
    font-weight: 300;
    font-size: 2.3em;
    text-align: center;
}

main{
    margin: 10px auto;
    border-radius: 5px;
    min-width: 360px;
    max-width: 1000px;
    text-align: left;
    padding: 10px;
    background-color: white;
}

main > h1{
    margin-bottom: 10px;
}

section{
    margin-bottom: 20px;
}

.container{
    position: relative;
}
#ctt{
    position: absolute;
    top: 12px;
    left: 50px;
}

#ins{
    position: absolute;
    top: 6px;
    left: 240px ;
}

#per{
    position: absolute;
    top: 12px;
    left: 280px;
}